@import 'css3';

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    z-index: 9000;
    overflow: hidden;
    color: #000;
    background: rgba(0,0,0,.2);
    &.show {
        display: block;
    }
    section {
        .border-box;
        .transform(~'translate(-50%, -50%)');
        position: absolute;
        top: 50%;
        left: 50%;
        height: auto;
        width: auto;
        max-width: 100%;
        max-height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }
}